---
layout: default
title: Homepage
featured:
- icon: fab fa-pagelines
  heading: text
  description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto incidunt vero et praesentium. Possimus quae praesentium.
- icon: fab fa-pagelines
  heading: text
  description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto incidunt vero et praesentium. Possimus quae praesentium 
- icon: fab fa-pagelines
  heading: text
  description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto incidunt vero et praesentium. Possimus quae praesentium 
seo:
 title: 
 description:
 social_image:
 keywords: 
 hide-from-google: false
---
 <!-- This is Header -->

    <header class="grid bg-image bg-bar bg-overlay tall-90">

        <div class="col-12-middle center ">
            <h1 class="text-light logo"> LOGO </h1>
        </div>

    </header>

<!--  Feature Icon grid  -->
    <section class="padded grid-center bg-dark margin-b-2 margin-t-1"> 

        <div class="col-12 center padded-2">
            <h2 class="featured-text"> features you will love </h2>     
        </div> 

        {% for item in page.featured %} 

        <div class=" col-3_sm-6 center xxs-stack padded-1">
            <i class=" {{item.icon}}"></i>
            <h4> {{item.heading}} </h4>
            <p> {{item.description}} </p>  
        </div>  

        {% endfor %}

    </section>


    <!-- Slider Gallery -------------- -->

    {% include gallery.html %}