
<!-- форма обратной связи modify this form HTML and place wherever you want your form -->

<section class="grid-spaceBetween-middle"> 
    <div class="col-12">
        <h1> Свяжитесь с нами </h1>
    </div>

    <form
    action="https://formspree.io/f/xvonapqe"
    method="POST"
    >

    <label for="_name"> Имя </label>
        <input type="text" name="_name" id="_name" placeholder="Name" />      

    <label for="_tel"> Телефон  </label>
        <input type="tel" name="_tel" id="_tel" placeholder="_(___) ___-____" />

    <label>
        Email:
        <input type="email" name="email">
    </label>

    <!-- <label for="date"> Дата </label>
    <span id="date-format">(DD-MM-YYYY):</span>
    <input type="date" name="date" id="date" aria-describedby="date-format" min="2021-11-01" max="2025-01-01" /> -->

    <label>
        Ваш вопрос:
        <textarea name="message"></textarea>
    </label>
    <!-- your other form fields go here -->
    <button type="submit">ПРЕДСТАВИТЬ</button>
    </form>

</section>