

<section class="padded">
    <div class="center margin-t-2">
      <h1 class="text-dark"> Меню </h1>
    </div>

    <div class="slider-container">
  <!--   Slide    -->
     <div class="slider-item"> 
      <div class="bg-image img-1 landscape"> </div>
       <p class="caption"> Роллы (холодные, запеченные, жаренные) </p>
    </div>

  <!--   Slide 2   -->
    <div class="slider-item"> 
      <div class="bg-image img-2 landscape"> </div>
      <p class="caption"> Супы </p>
      </div>

  <!--   Slide 3   -->
    <div class="slider-item">  
      <div class="bg-image img-3 landscape"> </div>
      <p class="caption"> Горячее </p>
      </div>

  <!--  Slide 4   -->
    <div class="slider-item"> 
      <div class="bg-image img-4 landscape"> </div>
      <p class="caption"> Салаты </p>
      </div>
    </div>

    <!--   Slide 5   -->
    <div class="slider-item">  
      <div class="bg-image img-5 landscape"> </div>
      <p class="caption"> Пицца </p>
      </div>
      
  <!--  Slide 6  -->
    <div class="slider-item"> 
      <div class="bg-image img-6 landscape"> </div>
      <p class="caption"> Десерты </p>
      </div>
    </div>

      <!--  Slide 7  -->
      <div class="slider-item"> 
        <div class="bg-image img-7 landscape"> </div>
        <p class="caption"> Напитки </p>
        </div>
      </div>

    </section>