

<section >
    <div class="center margin-t-2">
      <h1 > Галлерея </h1>
    </div>

    <div class="slider-container">
  <!--   Slide    -->
     <div class="slider-item"> 
      <div class="bg-image img-1 landscape"> </div>
       <p class="caption"> text </p>
    </div>

  <!--   Slide 2   -->
    <div class="slider-item"> 
      <div class="bg-image img-2 landscape"> </div>
      <p class="caption"> Explore the island </p>
      </div>

  <!--   Slide 3   -->
    <div class="slider-item">  
      <div class="bg-image img-3 landscape"> </div>
      <p class="caption"> Learn art of freediving </p>
      </div>

  <!--  Slide 4   -->
    <div class="slider-item"> 
      <div class="bg-image img-4 landscape"> </div>
      <p class="caption"> Immerse yourself in nature </p>
      </div>
    </div>

    <!--   Slide 5   -->
    <div class="slider-item">  
      <div class="bg-image img-1 landscape"> </div>
      <p class="caption"> Learn art of freediving </p>
      </div>
      
  <!--  Slide 6  -->
    <div class="slider-item"> 
      <div class="bg-image img-2 landscape"> </div>
      <p class="caption"> Immerse yourself in nature </p>
      </div>
    </div>
    </section>