
<footer class="padded grid-spaceBetween text-dark background-light"> 
    <div class="col-4"> 
        <h2 class="text-dark"> Наши контакты </h2> 
        <p> <strong>Время:</strong> 14:00 - 02:00 </p> 
        <p> <strong>Адрес:</strong> Ленинградская 16, Уссурийск </p> 
    </div> 

    <div class="col-5">
            <p> <strong>Тел:</strong> <a href="tel:#"> 89240025555</a>  </p> 
            <p> <strong>Email:</strong> <a href="mailto:#">hello@thesleep.co </a> </p> 
            <a href="https://www.instagram.com/svetaugnivenko/"> <i class="fa-brands fa-instagram"></i> </a>
            <a href="#"> <i class="fa-brands fa-facebook-f"></i> </a>  
    </div> 
    
    </footer>