
<footer class="padded grid-spaceBetween text-dark bg-featured"> 
    <div class="col-4"> 
        <h2 class="text-dark"> Наши контакты </h2> 
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minima, quibusdam exercitationem reprehenderit magnamю. </p> 
    
    </div> 
    <div class="col-5">
        <p> <strong>Тел:</strong> <a href="tel:#"> 04555 5555</a>  </p> 
        <p> <strong>Email:</strong> <a href="mailto:#">hello@thesleep.co </a> </p> 
        <p> <strong>Адрес:</strong> 55 Main St, Chicago </p> 
        <p> <strong>Instagram:</strong> <a href="https://www.instagram.com/thesleepco">@thesleepco</a> </p>     
    </div> 
    </footer>