
<footer class="padded padded-b-1 center  capped-width bg-dark"> 
        <h2 class="text-featured margin-b-2"> Наши контакты </h2>
    <div class="text-light">
        <p> <strong>Тел:</strong> <a href="tel:#"> 89240025555</a>  </p> 
        <p> <strong>Время:</strong> 14:00 - 02:00 </p> 
        <p> <strong>Адрес:</strong> Ленинградская 16, Уссурийск </p> 
        <nav>
            <a href="https://wa.me/89240025555"> <i class="fa-brands fa-whatsapp"></i> </a>
            <a href="https://www.instagram.com/baraviha.bar/"> <i class="fa-brands fa-instagram"></i> </a>
        </nav>
    </div> 

            <!-- <p> <strong>Email:</strong> <a href="mailto:#">hello@thesleep.co </a> </p>  -->
    
    <div class="center">

        <!-- <p class="subtle">created by Svetlana Ugnivenko </p> -->
        <p class="subtle margin-b-1 margin-t-2 copyright">Copyright 2023</p>
    </div>
    </footer>